body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#searchBar {
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
}

#searchInput {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
}

#addContactForm {
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
}

#addContactForm h2 {
  text-align: center;
  margin-bottom: 10px;
}

#addContactForm label {
  display: block;
  margin-bottom: 5px;
}

#addContactForm input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

#addButton {
  display: inline-block;
  margin: 20px auto;
  padding: 5px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#showall {
  display: inline-block;
  margin: 20px auto;
  padding: 5px;
  font-size: 16px;
  background-color: #7ed4e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clearall {
  display: inline-block;
  margin: 20px auto;
  padding: 5px;
  font-size: 16px;
  background-color: #58427c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contactsTableContainer {
  margin: 20px auto;
  width: 80%;
  max-width: 700px;
  display: none;
}

#contactsTable {
  width: 100%;
  border-collapse: collapse;
}

#contactsTable th,
#contactsTable td {
  padding: 10px;
  text-align: center;
}

#contactsTable th {
  background-color: #4caf50;
  color: #fff;
}

#contactsTable td {
  border-bottom: 1px solid #ccc;
}

#contactsTable td:last-child {
  text-align: center;
}

.deleteButton {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
